<p>forgot-password works!</p>
<div class="container-fluid">
    <div class="row mt-5">
        <div class="col">
        <div class="col-4" style="margin: 0 auto;">
            <div class="card shadow">
                <div class="card-body">
                    <form>
                        <div class="mb-3"> 
                            <h4 class="text-dark text-muted">Forgot password</h4>
                        </div>

                        <div class="mb-3">
                          <label for="exampleInputEmail1" class="form-label">Email </label>
                          <input type="email" class="form-control" name="email"  [(ngModel)]="this.email">
                        </div>
                    
                        <button type="button" class="btn btn-primary" (click)="forgotPassword()">Send Link</button>
                      </form>

                      <div class="cold-md-6">
                        <a href="/login" style="text-decoration: none;">Back to  <span class="text-danger">Log In  </span> </a>
                      </div>                    
                </div>
                <a href=""></a>
            </div>
        </div>
    </div>
</div>